html, body, .row, .container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
}

main {
  margin-top: 150px;
}

hr {
  margin: 0;
}

h3 {
  font-size: 14px;
}

a {
  outline: none;
  color: var(--maingrey);
}

a:hover {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #FFF;
}

#logo {
  width: 50px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-shadow: 2px 2px #000;
}

#punch {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

#show {
  font-size: 25px;
  color: #000;
  background-color: #FFF;
  border-radius: 10%;
}

#result p {
  margin: 0;
  padding: 0;
}

#flash {
  color: #FFF;
}

#menu {
margin-bottom: 150px;
}

.marg {
  margin-top: 100px;
}

.carousel-item img {
  width: auto;
  height: 40px;
}

.arrow {
  color: #000;
}

.carousel-item {
  border: none;
  border-radius: 0%;
}

.carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control-next {
  filter: invert(100%);
}

.carousel-control-prev {
  filter: invert(100%);
}

.fail
{
	background-color: #F0959F;
	color : red;
		padding: 3px 10px 3px 10px;
}